@charset "utf-8";
/* CSS Document */


@font-face{
	font-family: Shabnam;
	src: url("Fonts/Shabnam.ttf");
}

:root{
	scroll-behavior: smooth;
}

*{
	margin:0;
    padding:0;
    box-sizing:border-box;
}


body{	
	font-family: Shabnam;
	direction: rtl;
	font-size: 16px;
	background: url("../Images/Background/Background1.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}


a{
	text-decoration: none;
	color: inherit;
}


h1,h2,h3,h4{
	font-weight: 600;
	margin: 10px 0;
}

h1{
	font-size: 1.6em;
}

h2{
	font-size: 1.3em;
}

h3{
	font-size: 1.2em;
}

p{
	margin: 10px 0;
}

input{
	outline: none;
	font-size: 16px;
	font-family: Shabnam;
	width: 100%;
}

::-webkit-input-placeholder {
    color: burlywood;
}

:-moz-placeholder {
   color: burlywood;
}

button{
	outline: none;
	font-size: 16px;
	font-family: Shabnam;
	cursor: pointer;
	width: 30%;
}

/****************************** Cover ******************************/

.ReLoCover{
	position: absolute;
	top: 50%;
	left: 50%;
	min-width: 500px;
	transform: translate(-50%, -50%);
	min-height: 500px;
	padding: 10px 30px;
	border-radius: 20px;
	background: rgba(0,0,0,.6);
	box-shadow: 0 15px 25px rgba(0,0,0,.9);
	color: #fff;
	text-align: center;
}

.ReLoCover img{
	width: 100px;
	height: 100px;
	vertical-align: middle;
}

.ReLoCover p{
	font-size: 20px;
	text-align: center;
	margin-bottom: 20px;
}

.ReLoCover div{
	margin: 20px 0;
}

.ReLoCover input{
	padding: 10px;
	border-width: 0;
	border-bottom: 2px solid gray;
	vertical-align: middle;
	background: none;
	color: #fff;
	margin-bottom: 3px;
}

.ShowPass{
	cursor: pointer;
	position: absolute;
}

#ShowPass{
	transform: translateX(50%);
	margin-right: 30%;
}

.ReLoCover button{
	border-radius: 20px;
	border: none;
	padding: 5px;
	background: white;
	transition: .3s;
}

.ReLoCover button:hover{
	background: linear-gradient(90deg,cyan,blue);
	color: white;
}

.linkMP a{
	color: orangered;
	transition: .2s;
}

.linkMP a:hover{
	color: orange;
}

.ReLoCover .error{
	border-bottom: 2px solid red;
}

.text_Error{
	color: red;
	margin-bottom: 10px;
}
















